<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/styles/index.css">
  <link rel="stylesheet" href="assets/styles/blog.css">
</head>
<body>

<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="https://dumbways.id/assets/images/brandwhite.png" alt="Your Company" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/" class="nav-link text-white custom-hover">Home</a></li>
        <li class="nav-item"><a href="contact" class="nav-link text-white custom-hover">Contact Form</a></li>
        <li class="nav-item"><a href="testimonials" class="nav-link text-white custom-hover">Testimonials</a></li>
        <li class="nav-item"><a href="/add-post" class="nav-link text-white custom-hover">Add Post</a></li>
      </ul>
    <form action="/logout" method="GET">
        <button class="btn-light" type="submit">Logout</button>
    </form>    
    </div>
  </div>
</nav>
<!-- navbar end -->

<div class="container mt-5 pt-5 shadow-lg">
  <div class="row">
    <div class="col-lg-8 pt-5">
      <h1>Welcome {{username}} to my personal website!</h1>
      <br>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique purus orci libero egestas ut. Augue suspendisse blandit lorem massa ipsum, urna, egestas mi, lacinia. Dui fusce etiam
        libero, lectus amet, risus molestie malesuada. Odio nam purus consectetur euismod congue leo quisque. Turpis amet sollicitudin nunc non in lectus dolor amet.
      </p>
      
      <div class="d-flex mt-5">
        <a href="contact" class="btn btn-primary mr-3">Contact</a>
        <a class="btn btn-secondary">Download CV</a>
      </div>
  
      <!-- social button start -->
      <div class="mt-5">
        <a href="#" class="btn btn-outline-primary mr-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn btn-outline-info mr-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="btn btn-outline-primary mr-2"><i class="fab fa-linkedin-in"></i></a>
        <a href="#" class="btn btn-outline-danger"><i class="fab fa-pinterest-p"></i></a>
      </div>
      <!-- social button end -->
    </div>
    
    <div class="col-lg-4 text-center pb-3">
      <div class="card pb-0 w-100">
        <img src="assets/img/profile.jpg" class="card-img-top img-fluid" alt="Muhammad Taufal">
        <div class="card-body">
          <h2 class="card-title">Muhammad Taufal</h2>
          <p class="card-text">Fullstack Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5 pt-5 text-center mb-5">
    <h1>All Posts</h1>
  </div>
{{!-- List all posts by author --}}
<section class="mt-5 container pt-5   shadow-lg">
  <div class="container">
    <div class="row mb-4">
      <div class="col text-start">
        <a href="/add-post" class="btn btn-primary">Add some project</a>
      </div>
    </div>
    {{#if posts.length}} 
      <div class="row d-flex"> 
        {{#each posts}}
            <div class="col-md-4 mb-4">
                <div class="card">
                  <img src="/uploads/{{image}}" alt="{{title}}" class="card-img-top" style="height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <a href="/post-detail/{{id}}" class="card-title">{{title}}</a>
                        <ul class="list-unstyled mt-3 text-muted">
                          <li><i class="fa fa-user mb-2"></i> Author: {{author}}</li>
                          <li><i class="fa fa-calendar mb-2"></i> Posted on: {{post_date}}</li>
                          <li><i class="fa fa-tags"></i> Categories: {{post_type}}</li>
                        </ul>
                        <div class="d-flex justify-content-between mt-4">
                            <form action="/posts/{{id}}?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this post?');">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <a class="btn bg-primary text-white" href="/edit-post/{{id}}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
      </div>
      {{else}}
      <p>No posts yet!</p>
      {{/if}}
  </div>
</section>
<footer class="bg-body-tertiary text-center text-lg-start mt-5">
  <!-- Copyright -->
  <div class="text-center p-3 bg-dark text-white">
    © 2024 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/index.js"></script>
</body>
</html>