<!DOCTYPE html>
<html xml:lang>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/styles/index.css">
  <link rel="stylesheet" href="/assets/styles/blog.css">

<title>{{post.title}}</title>
</head>
<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="https://dumbways.id/assets/images/brandwhite.png" alt="Your Company" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/" class="nav-link text-white custom-hover">Home</a></li>
        <li class="nav-item"><a href="contact" class="nav-link text-white custom-hover">Contact Form</a></li>
        <li class="nav-item"><a href="testimonials" class="nav-link text-white custom-hover">Testimonials</a></li>
        <li class="nav-item"><a href="/add-post" class="nav-link text-white custom-hover">Add Post</a></li>
      </ul>
    <form action="/logout" method="GET">
        <button class="btn-light" type="submit">Logout</button>
    </form>    
    </div>
  </div>
</nav>
<!-- navbar end -->

<body>
  <div class="container mt-5 pt-5 w-50">
      <nav aria-label="breadcrumb"></nav>
        <ol class="breadcrumb text-red">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
        </ol>
      </nav>
    <div class="mb-2">
        <h1>{{post.title}}</h1>
    </div>
    <div class="mb-2">
        <img src="/uploads/{{post.image}}" alt="{{post.title}}" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
    <ul class="list-unstyled mt-3">
      <li><i class="fa fa-user mb-2"></i> Posted By: {{post.author}}</li>
      <li><i class="fa fa-calendar mb-2"></i> Posted on: {{post.post_date}}</li>
      <li><i class="fa fa-tags"></i> Categories: {{post.post_type}}</li>
    </ul>
    <div class="mt-4 text-justify">
      <p>{{post.content}}</p>
    </div>
    <div class="social-share mt-4">
      <h5>Share this post:</h5>
      <a href="https://www.facebook.com/sharer" target="_blank" class="btn btn-primary">
        <i class="fa fa-facebook"></i> Facebook
      </a>
      <a href="https://twitter.com/intent/tweet" target="_blank" class="btn btn-info">
        <i class="fa fa-twitter"></i> Twitter
      </a>
      <a href="https://www.linkedin.com/" target="_blank" class="btn btn-secondary">
        <i class="fa fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://api.whatsapp.com/" target="_blank" class="btn btn-success">
        <i class="fa fa-whatsapp"></i> WhatsApp
      </a>
    </div>
  </div>


<footer class="bg-body-tertiary text-center text-lg-start mt-5"></footer>
  <!-- Copyright -->
  <div class="text-center p-3 bg-dark text-white">
    © 2024 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>